<h1>This posts page</h1>
<div>
    {foreach from=$posts item=post}
        <h1 style="text-align: center">{$post.title}</h1>
        <p style="border: 1px solid black">{$post.content}</p>
        <div style="text-align: right">{$post.date}</div>
    {/foreach}
</div>